<footer class="np-footer">
    <h2 class="np-footer__title">Entrons en contact</h2>
    <p class="np-footer__infos">npellan@gmail.com</p>
    <p class="np-footer__infos">06 52 63 45 30</p>
    <p class="np-footer__findme">Retrouvez-moi sur</p>
    <nav class="np-footer__nav" role="navigation" aria-label="Menu footer">
      <ul>
        <li class="np-footer__nav__item np-footer__nav__item--github"><a href="https://github.com/npellan">Github</a></li>
        <li class="np-footer__nav__item np-footer__nav__item--linkedin"><a href="https://fr.linkedin.com/in/nicolas-pellan">LinkedIn</a></li>
        <li class="np-footer__nav__item np-footer__nav__item--twitter"><a href="https://twitter.com/Nicolas_PELLAN">Twitter</a></li>
        <li class="np-footer__nav__item np-footer__nav__item--spotify"><a href="https://open.spotify.com/user/nicolaspc?si=Gm96gHHsTw6eTh2Y-IhIcg">Spotify</a></li>
      </ul>
    </nav>
    <span class="material-icons to-top">
      arrow_upward
    </span>
</footer>

<script src="/js/app.js"></script>