<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href='/css/styles.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://nicolaspellan.fr<%= locals.url %>" />
  <meta property="og:image" content="https://nicolaspellan.fr/images/open-graph-nicolas-pellan.png">
  <meta property="og:description" content="Je suis un développeur web Fullstack JavaScript, spécialisé React et Node.js, ex-webmarketeur reconverti par passion.">
  <meta property="og:title" content="<%= locals.title %>">
  <meta name="author" content="Nicolas Pellan">
  <meta name="description" content="<%= locals.description %>">

  <title><%= locals.title %></title>
</head>
<body>
  <div class="np-container">
    <header class="np-header">
      <div class="np-header__top">
        <a href="/">
          <img class="np-logo" src="/images/logo.svg" alt="">
        </a>
        <nav class="np-nav" role="navigation" aria-label="Menu principal">
          <ul>
            <li class="np-nav__item"><a href="/a-propos">A propos</a></li>
            <li class="np-nav__item"><a href="/projets">Projets</a></li>
            <li class="np-nav__item"><a href="/contact">Contact</a></li>
            <li class="np-nav__item">
              <label class="switch">
                <input type="checkbox" class="switch__input">
                <span class="slider round"></span>
              </label>
            </li>
          </ul>
        </nav>
      </div>