<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href='/css/styles.css' />
  
  <title><%= title %></title>
</head>
<body>
  <div class="np-container">
    <header class="np-header">
      <div class="np-header__top">
        <a href="/" class="np-logo">np</a>
        <nav class="np-nav">
          <ul>
            <li class="np-nav__item"><a href="/projets">Projets</a></li>
            <li class="np-nav__item"><a href="/a-propos">A propos</a></li>
            <li class="np-nav__item"><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>