@use 'vars';

.np-apropos {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3rem 0 3rem 0;
    grid-gap: 3rem;
}

.np-apropos__title {
    font-weight: bold;
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

.np-apropos__text {
    line-height: 1.5;
    margin-bottom: .7rem;
    text-align: justify;
}

.np-apropos__text--bigger {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.np-apropos__img {
    display: block;
    width: 100%;
    height: auto;
}

.np-cv {
    margin-bottom: 7rem;
}

.np-cv__skills {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 3rem;
    margin-bottom: 3rem;
}

.np-cv__subtitle {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.np-cv__column-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;

    & > div p {
        line-height: 1.5;
    }
}

.np-cv__column-tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

    & > div p {
        line-height: 1.5;
    }
}

.np-cv__exp {
    margin-bottom: 3rem;
}

.np-cv__exp__one {
    margin-bottom: 2rem;
}

.np-cv__exp__title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
}

.np-cv__exp__subtitle {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;

}

.np-cv__exp__year {
    line-height: 1.5;
    font-style: italic;
}

.np-cv__exp__desc {
    line-height: 1.5;
}
