@use 'reset';
@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@300;400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.np-svg1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.np-svg2 {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: -1;
}

.np-svg3 {
    position: absolute;
    top: 0;
    right: 40px;
    z-index: -1;
}

.np-line1 {
    fill: none;
    stroke: #F4F09F;
    stroke-width: 17px;
    stroke-dasharray: 981.6414794921875; 
    stroke-dashoffset: 981.6414794921875;
    animation: move 3s linear forwards;
}

.np-line2 {
    fill: none;
    stroke: #B3D4EC;
    stroke-width: 17px;
    stroke-dasharray: 2633.214599609375; 
    stroke-dashoffset: 2633.214599609375;
    animation: move 3s linear forwards;
}

.np-line3 {
    fill: none;
    stroke: #D4EFE4;
    stroke-width: 17px;
    stroke-dasharray: 1583.5125732421875; 
    stroke-dashoffset: 1583.5125732421875;
    animation: move 3s linear forwards;
}

@keyframes move {
    100% {
        stroke-dashoffset: 0;
    }
}

.np-container {
    max-width: 1440px;
    width: 80%;
    margin: 2rem auto 1rem;
}

.np-header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.np-logo {
    font-family: 'Cookie', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.np-nav > ul {
    display: flex;
}

.np-nav__item {
    padding-left: 1rem;
}

.np-header__hero {
    margin-bottom: 3rem;
}

.np-header__hero__title {
    font-weight: bold;
    font-size: 2rem;
}

.np-header__hero__subtitle {
    font-size: 1.5rem;
}

.np-main__section {
    margin-bottom: 3rem;
}

.np-main__section__title {
    font-weight: bold;
    font-size: 1.2rem;
}
