@use 'reset';
@use 'vars';

@use 'header';
@use 'main';
@use 'footer';

@use 'svg';
@use 'button';
@use 'projets';
@use 'projet';
@use 'form';

@use 'mediaqueries';

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@300;400;700&display=swap');

body {
    font-family: vars.$primary-font;
    color: vars.$text-color;
    background-color: vars.$background-color;
}

.np-container {
    max-width: 1200px;
    margin: 5rem auto 1rem;
    width: 80%;
}
