@use 'vars';

@media screen and (max-width: 768px) {
    .np-svg1 {
        position: absolute;
        top: 0;
        right: 70px;
        z-index: -1;
    }

    .np-svg2 {
        position: absolute;
        top: 0;
        right: 25px;
        z-index: -1;
    }

    .np-svg3 {
        position: absolute;
        top: 0;
        right: 89px;
        z-index: -1;
    }

    .np-form__input > input {
        width: 70%;
    }

    .np-form__input > textarea {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .np-svg1 {
        position: absolute;
        top: 0;
        right: 90px;
        z-index: -1;
        overflow-x: hidden;
    }

    .np-svg2 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        overflow-x: hidden;
    }

    .np-svg3 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        overflow-x: hidden;
    }

    .np-header {
        .np-header__top {
            display: block;
            text-align: center;
        }

        .np-nav {
            justify-content: center;
            display: flex;
            margin-top: 2rem;
        }

        .np-nav__item {
            margin: 0 .7rem;
            font-size: 1rem;
        }
    }

    .np-header .np-hero__title {
        font-size: 3rem;
    }

    .np-projet {
        grid-template-columns: repeat(1, 1fr);
        margin: 3rem 0 7rem 0;
    }

    .np-projet--right {
        text-align: left;
    }

    .np-apropos {
        grid-template-columns: repeat(1, 1fr);
    }

    .np-cv__skills {
        grid-template-columns: repeat(1, 1fr);
    }

    .np-cv__column-skills {
        grid-template-columns: repeat(1, 1fr);
        row-gap: .5rem;
    }

    .np-cv__column-tools {
        grid-template-columns: repeat(1, 1fr);
        row-gap: .5rem;
    }

    .np-form__input > input {
        width: 100%;
    }

    .np-form__input > textarea {
        width: 100%;
    }

    .breadcrumb {
        display: none;
    }

    footer > .material-icons {
        bottom: 30px;
        right: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .np-projects {
        grid-template-columns: repeat(3, 1fr);
    }

    .np-svg1 {
        position: absolute;
        top: 0;
        right: 110px;
        z-index: -1;
    }

    .np-svg2 {
        position: absolute;
        top: 0;
        right: 70px;
        z-index: -1;
    }

    .np-svg3 {
        position: absolute;
        top: 0;
        right: 120px;
        z-index: -1;
    }
}

@media screen and (min-width: 1440px) {
    .np-projects {
        grid-template-columns: repeat(3, 1fr);
    }

    .np-cv__exp {
        width: 75%;
    }

    .np-svg1 {
        position: absolute;
        top: 0;
        right: 150px;
        z-index: -1;
    }

    .np-svg2 {
        position: absolute;
        top: 0;
        right: 110px;
        z-index: -1;
    }

    .np-svg3 {
        position: absolute;
        top: 0;
        right: 170px;
        z-index: -1;
    }
}


