@media screen and (max-width: 480px) {
    .np-main__projects {
        flex-wrap: wrap;
    }

    .np-main__projects__container {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .np-main__projects {
        flex-wrap: wrap;
    }

    .np-main__projects__container {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 1440px) {
    
}


