@use 'vars';

.np-projects {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
}

.np-projects__wrapper {
    position: relative;
}

.np-projects__image {
    display: block;
    width: 100%;
    height: auto;
}

.np-projects__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease-in-out;
    background-color: black;
}

.np-projects__wrapper:hover .np-projects__overlay {
    opacity: 0.25;
}

.np-projects__title {
    margin-top: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.5;
}

.np-projects__tags {
    margin-top: .5rem;
    font-style: italic;
    line-height: 1.5;
}