@use 'vars';

.np-svg1 {
    position: absolute;
    top: 0;
    right: 160px;
    z-index: -1;
}

.np-svg2 {
    position: absolute;
    top: 0;
    right: 160px;
    z-index: -1;
}

.np-svg3 {
    position: absolute;
    top: 0;
    right: 160px;
    z-index: -1;
}

.np-line {
    fill: none;
    opacity: 0.7;
    stroke-width: 18px;
    animation: move 2.5s linear forwards;
}

.np-line1 {
    stroke: vars.$line1-color;
    stroke-dasharray: 2312.118408203125;
    stroke-dashoffset: 2312.118408203125;
}

.np-line2 {
    stroke: vars.$line2-color;
    stroke-dasharray: 2184.2021484375;
    stroke-dashoffset: 2184.2021484375;
}

.np-line3 {
    stroke: vars.$line3-color;
    stroke-dasharray: 2248.579345703125;
    stroke-dashoffset: 2248.579345703125;
}

@keyframes move {
    100% {
        stroke-dashoffset: 0;
    }
}