@use 'vars';

.np-svg1 {
    position: absolute;
    top: 0;
    right: 160px;
    z-index: -1;
}

.np-svg2 {
    position: absolute;
    top: 0;
    right: 160px;
    z-index: -1;
}

.np-svg3 {
    position: absolute;
    top: 0;
    right: 160px;
    z-index: -1;
}

.np-line {
    fill: none;
    stroke-width: 18px;
    animation: move 3s linear forwards;
}

.np-line1 {
    stroke: vars.$line1-color;
    opacity: 0.7;
    stroke-dasharray: 2235.124267578125; 
    stroke-dashoffset: 2235.124267578125;
}

.np-line2 {
    stroke: vars.$line2-color;
    opacity: 0.7;
    stroke-dasharray: 2137.661376953125; 
    stroke-dashoffset: 2137.661376953125;
}

.np-line3 {
    stroke: vars.$line3-color;
    opacity: 0.7;
    stroke-dasharray: 2216.4765625; 
    stroke-dashoffset: 2216.4765625;
}

@keyframes move {
    100% {
        stroke-dashoffset: 0;
    }
}