<% include partials/header %>
      <nav aria-label="Breadcrumb" class="breadcrumb">
        <ul>
            <li class="breadcrumb__li"><a href="/">np</a></li>
            <li class="breadcrumb__li breadcrumb__li--current"><span aria-current="page" >A propos</span></li>
        </ul>
      </nav>
    </header>
    <main class="np-main np-main--apropos">
      <section class="np-apropos">
        <div>
          <h1 class="np-apropos__title">Je suis développeur web reconverti par passion, mélomane et grand lecteur</h1>
          <p class="np-apropos__text">
            Au fil de 5 ans d’expériences en communication et webmarketing, j’ai : animé les réseaux sociaux du festival Europavox aux 20 000 followers et 40 000 spectateurs ; développé la stratégie digitale d’une startup du numérique en m’appuyant sur tous les leviers webmarketing ; rédigé des articles web en freelance pour de grands sites généralistes, des marques e-commerce et des blogs spécialisés. Pendant 3 ans en agence web, j'ai travaillé sur des projets SEO, social media et content marketing pour des grands comptes et PME. Je gérais des projets en équipe et avec des partenaires externes, graphistes, imprimeurs ou développeurs.
          </p>
          <p class="np-apropos__text">
            C'est auprès de développeurs que mes journées me passionnaient le plus. Travailler avec eux sur des audits SEO ou sur une refonte graphique était un vrai plaisir, un enrichissement quotidien par le partage de connaissances et la synergie des compétences. C'est ainsi tout naturellement que j'ai décidé de devenir développeur à mon tour !
          </p>
          <p class="np-apropos__text">
            Ma passion pour le web remonte à mon adolescence : j’ai développé mon premier site en HTML et CSS pour mettre en ligne les créations Photoshop que j’apprenais en cours du soir dans une MJC. J'ai longtemps entretenu mes connaissances en HTML et CSS, en réalisant notamment un site pour une agence d'architecture en 2020.
          </p>
          <p class="np-apropos__text">
            Pour aller plus loin, j'ai choisi l'école O'clock pour me former au métier de développeur, option Fullstack Javascript. 6 mois de formation intensive, 700 heures de cours en Javascript et Node.js, un mois de spécialisation React et un mois de projet en équipe pour présenter une application web complète et fonctionnelle.
          </p>
          <p class="np-apropos__text np-apropos__text--bigger">
            Me voilà maintenant développeur Fullstack Javascript junior, avec le désir de continuer à apprendre et réaliser de nombreux projets !
          </p>
        </div>
        <div>
          <img class="np-apropos__img" src="/images/nicolas-pellan.jpg" alt="Portrait Nicolas Pellan">
        </div>
      </section>
      <section class="np-cv">
        <div class="np-cv__skills">
          <div>
            <h2 class="np-cv__subtitle">Compétences</h2>
            <div class="np-cv__column-skills">
              <div>
                <p>React</p>
                <p>Javascript</p>
                <p>HTML</p>
                <p>CSS</p>
              </div>
              <div>
                <p>Node.js</p>
                <p>Express</p>
                <p>API REST</p>
                <p>PostgreSQL</p>
              </div>
              <div>
                <p>SEO</p>
                <p>Analytics</p>
                <p>Social media</p>
                <p>Création graphique</p>
              </div>
            </div>
          </div>
          <div>
            <h2 class="np-cv__subtitle">Outils</h2>
            <div class="np-cv__column-tools">
              <div>
                <p>Linux</p>
                <p>Git, Github</p>
                <p>Webpack, Babel</p>
                <p>ESLint</p>
                <p>Mocha, Chai, Enzyme</p>
              </div>
              <div>
                <p>Suite Adobe</p>
                <p>Suite Office</p>
                <p>Google Analytics</p>
              </div>
            </div>
          </div>
        </div>
        <div class="np-cv__exp">
          <h2 class="np-cv__subtitle">Expérience</h2>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">DÉVELOPPEUR WEB FRONT-END</h3>
            <h4 class="np-cv__exp__subtitle">O’Clock - Projet de fin d’étude - Téléprésentiel</h4>
            <p class="np-cv__exp__year">2021</p>
            <p class="np-cv__exp__desc">
              Dans le cadre du projet de fin de formation de l'école O'Clock (certifiée Grande École du Numérique), nous avons créé une appli web fonctionnelle de A à Z, en utilisant tous les outils que nous avons étudiés. Notre groupe était composé d'une équipe de développeur back-end et front-end et notre site était développé en Javascript (React, Node.js, PostgreSQL...).
            </p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">CHEF DE PROJET WEBMARKETING</h3>
            <h4 class="np-cv__exp__subtitle">Koredge, agence web - CDI - Lyon</h4>
            <p class="np-cv__exp__year">2017-2020</p>
            <p class="np-cv__exp__desc">
              <ul class="np-cv__exp__tasks">
                <li>
                  Audit et stratégie digitales
                </li>
                <li>
                  Suivi et mise en place des actions webmarketing (audits et optimisations SEO, community management, campagnes social media, rédaction web)
                </li>
                <li>
                  Suivi et gestion de projet
                </li>
                <li>
                  Analyse et reporting des résultats
                </li>
              </ul>
            </p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">CHARGÉ DE COMMUNICATION</h3>
            <h4 class="np-cv__exp__subtitle">Winmagine, startup application de stockage cloud - CDI - Lyon</h4>
            <p class="np-cv__exp__year">2016</p>
            <p class="np-cv__exp__desc">
              <ul class="np-cv__exp__tasks">
                <li>
                  Définition de la stratégie digitale
                </li>
                <li>
                  Suivi de la refonte du site web ; création et animation des réseaux sociaux
                </li>
                <li>
                  Création de campagnes social media
                </li>
                <li>
                  Création et animation d’un blog
                </li>
                <li>
                  Rédaction dossier et communiqué presse
                </li>
                <li>
                  PAO : flyers, vidéos
                </li>
              </ul>
            </p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">CHARGÉ DE COMMUNICATION</h3>
            <h4 class="np-cv__exp__subtitle">La Coopérative de Mai/Festival Europavox, scène et festival de musiques actuelles -
              Stage puis CDD - Clermont-Ferrand</h4>
            <p class="np-cv__exp__year">2014-2015</p>
            <p class="np-cv__exp__desc">
              <ul class="np-cv__exp__tasks">
                <li>
                  Coordination de la communication du festival avec prestataires (graphistes, imprimeurs, street marketing)
                </li>
                <li>
                  Gestion et animation sites web lacoope.org et europavox.com
                </li>
                <li>
                  Community management du festival
                </li>
                <li>
                  Mise en place et suivi des partenariats du festival
                </li>
                <li>
                  Gestion des relations presse du festival.
                </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="np-cv__exp">
          <h2 class="np-cv__subtitle">Formation</h2>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">FORMATION DÉVELOPPEUR WEB ET WEB MOBILE NIVEAU V</h3>
            <h4 class="np-cv__exp__subtitle">O’clock - Formation en Téléprésentiel - Labellisée Grande Ecole du Numérique</h4>
            <p class="np-cv__exp__year">2020 - 2021</p>
            <p class="np-cv__exp__desc">
              700 heures intensives : 3 mois de Socle (HTML5/CSS3/Javascript), 1 mois de spécialisation
              React, 1 mois de projet en équipe
            </p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">ECOLE SUPÉRIEURE DE COMMERCE - BAC +5 - MASTER 2</h3>
            <h4 class="np-cv__exp__subtitle">Clermont-Ferrand</h4>
            <p class="np-cv__exp__year">2010 - 2014</p>
            <p class="np-cv__exp__desc">
              Spécialisation en Communication et Marketing des Entreprises Culturelles
            </p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">SEMESTRE ERASMUS</h3>
            <h4 class="np-cv__exp__subtitle">Robert Gordon University, Aberdeen, Ecosse</h4>
            <p class="np-cv__exp__year">2012</p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">CLASSE PRÉPA</h3>
            <h4 class="np-cv__exp__subtitle">Lycée ITEC Boisfleury, Grenoble</h4>
            <p class="np-cv__exp__year">2008 - 2010</p>
          </div>
        </div>
      </section>
    </main>
<% include partials/footer %>
  </div>
</body>
</html>