<% include partials/header %> 
      <div class="np-header__hero">
        <h1 class="np-header__hero__title">A propos</h1>
        <p class="np-header__hero__subtitle">-</p>
      </div>
    </header>
    <main class="np-main">
      <section class="np-main__section">
        <h2 class="np-main__section__title">A propos</h2>
        <h3 class="np-main__section__subtitle">Développeur web reconverti par passion, mélomane et grand lecteur</h2>
        <p class="np-main__section__text">Après 5 ans d’expérience en communication et webmarketing, je me suis reconverti dans le développement web par passion. Je développe des applications web fonctionnelles et esthétiques basées sur React et Node.js</p>    
      </section>
    </main>
<% include partials/footer %> 
  </div>
</body>
</html>