<% include partials/header %> 
    </header>
    <main class="np-main">
      <section class="np-apropos">
        <div>
          <h1 class="np-apropos__title">Développeur web reconverti par passion, mélomane et grand lecteur</h1>
          <p class="np-apropos__text">
            Après 5 ans d’expérience en communication et webmarketing, je me suis reconverti dans le développement web par passion. Je développe des applications web fonctionnelles et esthétiques basées sur React et Node.js. 
          </p>
          <p class="np-apropos__text">
            Après 5 ans d’expérience en communication et webmarketing, je me suis reconverti dans le développement web par passion. Je développe des applications web fonctionnelles et esthétiques basées sur React et Node.js. 
          </p>
          <p class="np-apropos__text">
            Après 5 ans d’expérience en communication et webmarketing, je me suis reconverti dans le développement web par passion. Je développe des applications web fonctionnelles et esthétiques basées sur React et Node.js. 
          </p>
        </div>
        <div>
          <img class="np-apropos__img" src="/images/nicolas-pellan.jpg" alt="Portrait Nicolas Pellan">
        </div>
      </section>
      <section class="np-cv">
        <div class="np-cv__skills">
          <div>
            <h2 class="np-cv__subtitle">Compétences</h2>
            <div class="np-cv__column-skills">
              <div>
                <p>React</p>
                <p>Javascript</p>
                <p>HTML</p>
                <p>CSS</p>
              </div>
              <div>
                <p>Node.JS</p>
                <p>Express</p>
                <p>PostegreSQL</p>
                <p>SQL</p>
              </div>
              <div>
                <p>SEO</p>
                <p>Analytics</p>
                <p>Social media</p>
                <p>Création graphique</p>
              </div>
            </div>
          </div>
          <div>
            <h2 class="np-cv__subtitle">Outils</h2>
            <div class="np-cv__column-skills">
              <div>
                <p>Linux</p>
                <p>Git, Github</p>
                <p>Webpack, Babel</p>
                <p>ESLint</p>
                <p>Mocha</p>
              </div>
              <div>
                <p>Suite Adobe</p>
                <p>Suite Office</p>
                <p>Google Analytics</p>
              </div>
            </div>
          </div>
        </div>
        <div class="np-cv__exp">
          <h2 class="np-cv__subtitle">Expérience</h2>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">DÉVELOPPEUR WEB FRONT-END</h3>
            <h4 class="np-cv__exp__subtitle">O’Clock - Projet de fin d’étude - Téléprésentiel</h4>
            <p class="np-cv__exp__year">2021</p>
            <p class="np-cv__exp__desc">
              Création d’une application web fonctionnelle dans le cadre du projet de fin de formation
            </p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">CHEF DE PROJET WEBMARKETING</h3>
            <h4 class="np-cv__exp__subtitle">Koredge, agence web - CDI - Lyon</h4>
            <p class="np-cv__exp__year">2017-2020</p>
            <p class="np-cv__exp__desc">
              Audit et stratégie digitales ; suivi et mise en place des actions webmarketing (audits et
              optimisations SEO, community management, campagnes social media, rédaction web) ; suivi
              et gestion de projet ; analyse et reporting des résultats.            
            </p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">CHARGÉ DE COMMUNICATION</h3>
            <h4 class="np-cv__exp__subtitle">Winmagine, startup application de stockage cloud - CDI - Lyon</h4>
            <p class="np-cv__exp__year">2016</p>
            <p class="np-cv__exp__desc">
              Définition de la stratégie digitale ; suivi de la refonte du site web ; création et animation des
              réseaux sociaux ; création de campagnes social media ; création et animation d’un blog ;
              rédaction dossier et communiqué presse ; PAO : flyers, vidéos.            
            </p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">CHARGÉ DE COMMUNICATION</h3>
            <h4 class="np-cv__exp__subtitle">La Coopérative de Mai/Festival Europavox, scène et festival de musiques actuelles -
              Stage puis CDD - Clermont-Ferrand</h4>
            <p class="np-cv__exp__year">2014-2015</p>
            <p class="np-cv__exp__desc">
              Coordination de la communication du festival avec prestataires (graphistes, imprimeurs,
              street marketing) ; gestion et animation sites web lacoope.org et europavox.com ; community
              management du festival ; mise en place et suivi des partenariats du festival ; gestion des
              relations presse du festival.            
            </p>
          </div>
        </div>
        <div class="np-cv__exp">
          <h2 class="np-cv__subtitle">Formation</h2>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">FORMATION DÉVELOPPEUR WEB ET WEB MOBILE NIVEAU V</h3>
            <h4 class="np-cv__exp__subtitle">O’clock - Formation en Téléprésentiel - Labellisée Grande Ecole du Numérique</h4>
            <p class="np-cv__exp__year">2020 - 2021</p>
            <p class="np-cv__exp__desc">
              700 heures intensives : 3 mois de Socle (HTML5/CSS3/Javascript), 1 mois de spécialisation
              React, 1 mois de projet en équipe            
            </p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">ECOLE SUPÉRIEURE DE COMMERCE - BAC +5 - MASTER 2</h3>
            <h4 class="np-cv__exp__subtitle">Clermont-Ferrand</h4>
            <p class="np-cv__exp__year">2010 - 2014</p>
            <p class="np-cv__exp__desc">
              Spécialisation en Communication et Marketing des Entreprises Culturelles            
            </p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">SEMESTRE ERASMUS</h3>
            <h4 class="np-cv__exp__subtitle">Robert Gordon University, Aberdeen, Ecosse</h4>
            <p class="np-cv__exp__year">2012</p>
          </div>
          <div class="np-cv__exp__one">
            <h3 class="np-cv__exp__title">CLASSE PRÉPA</h3>
            <h4 class="np-cv__exp__subtitle">Lycée ITEC Boisfleury, Grenoble</h4>
            <p class="np-cv__exp__year">2008 - 2010</p>
          </div>
        </div>
      </section>
    </main>
<% include partials/footer %> 
  </div>
</body>
</html>