<% include partials/header %> 
      <div class="np-header__hero">
        <h1 class="np-header__hero__title">Contact</h1>
        <p class="np-header__hero__subtitle">-</p>
      </div>
    </header>
    <main class="np-main">
      <section class="np-main__section">
        <h2 class="np-main__section__title">Contact</h2>
      </section>
    </main>
<% include partials/footer %> 
  </div>
</body>
</html>