<%- include('partials/header'); %>
      <nav aria-label="Breadcrumb" class="breadcrumb">
        <ul>
          <li class="breadcrumb__li"><a href="/">np</a></li>
          <li class="breadcrumb__li breadcrumb__li--current"><span aria-current="page" >Contact</span></li>
      </ul>
      </nav>
      <div class="np-hero">
        <p class="np-hero__subtitle">Pour discuter ou pour travailler ensemble, n'hésitez pas à me contacter.</p>
      </div>
    </header>
<%- include('partials/footer'); %>
  </div>
</body>
</html>