<% include partials/header %> 
      <div class="np-hero">
        <p class="np-hero__hi">Bonjour je suis</p>
        <h1 class="np-hero__title">Nicolas Pellan</h1>
        <p class="np-hero__subtitle">Développeur fullstack JavaScript</p>
        <div class="button">
          <a href="/pdf/cv-nicolas-pellan.pdf" class="button-text">Voir mon CV</a>
        </div>
        <div class="button">
          <a href="https://github.com/npellan" class="button-text">Profil Github</a>
        </div>
      </div>
    </header>
    <main class="np-main">
      <section class="np-section ">
        <h2 class="np-section__title">A propos</h2>
        <h3 class="np-section__subtitle">Je suis développeur web reconverti par passion, mélomane et grand lecteur</h3>
        <p class="np-section__text">Après 5 ans d’expériences en communication et webmarketing, je me suis reconverti dans le développement web par passion. Je développe des applications web fonctionnelles et esthétiques basées sur React et Node.js.</p>
        <div class="button">
          <a href="/a-propos" class="button-text">En savoir plus</a>
        </div>      
      </section>
      <section class="np-section ">
        <h2 class="np-section__title">Projets</h2>
        <div class="np-projects">
          <div class="np-projects__container">
            <div class="np-projects__wrapper">
              <a href="/projets/oak-projet-fin-etude" class="np-projects__link">
                <img class="np-projects__image" src="/images/oak-projet-fin-etude.jpg" alt="Image du projet Oak">
                <div class="np-projects__overlay"></div>
              </a>
            </div>
            <p class="np-projects__title">
              Oak
            </p>
            <p class="np-projects__tags">
              Projet de fin d'étude en ligne
            </p>
            <p class="np-projects__tags">
              React, Redux, SCSS, Node.js, PostgreSQL, Squitch
            </p>
          </div>
          <div class="np-projects__container">
            <div class="np-projects__wrapper">
              <a href="/projets/portfolio" class="np-projects__link">
                <img class="np-projects__image" src="/images/portfolio.jpg" alt="Image du projet Portfolio">
                <div class="np-projects__overlay"></div>
              </a>
            </div>
            <p class="np-projects__title">
              Portfolio
            </p>
            <p class="np-projects__tags">
              Site web en ligne 
            </p>
            <p class="np-projects__tags">
              Node.js, Express, SCSS
            </p>
          </div>
          <div class="np-projects__container">
            <div class="np-projects__wrapper">
              <a href="/projets/atelier-bleu-piment" class="np-projects__link">
                <img class="np-projects__image" src="/images/atelier-bleu-piment.jpg" alt="Image du projet Atelier Bleu Piment">
                <div class="np-projects__overlay"></div>
              </a>
            </div>
            <p class="np-projects__title">
              Atelier Bleu Piment
            </p>
            <p class="np-projects__tags">
              Site web en ligne
            </p>
            <p class="np-projects__tags">
              HTML, CSS, JS
            </p>
          </div>
        </div>
        <div class="button">
          <a href="/projets" class="button-text -4">Plus de projets</a>
        </div>
      </section>
    </main>
<% include partials/footer %> 
    <svg class="np-svg np-svg1" width="994" height="1909" viewBox="0 0 994 1909" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line1" d="M987 -2L831.468 146.137C744.336 229.127 691.997 342.126 685.048 462.255V462.255C676.217 614.918 612.379 759.213 505.351 868.433L249.468 1129.56C48.2145 1334.93 -33.1756 1629.42 34.0509 1909V1909" stroke="#9AECDB" stroke-opacity="0.5" stroke-width="20"/>
    </svg>    
    <svg class="np-svg np-svg2" width="422" height="1909" viewBox="0 0 422 1909" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line2" d="M413 -15.6305L242.668 231.799C147.782 369.633 120.903 543.202 169.652 703.279L275.36 1050.39C373.473 1372.56 267.501 1722.09 7 1935.54V1935.54" stroke="#218C74" stroke-opacity="0.3" stroke-width="20"/>
    </svg>
    <svg class="np-svg np-svg3" width="602" height="1909" viewBox="0 0 602 1909" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line3" d="M403.5 -33.5V-33.5C364.95 173.706 406.648 387.819 520.137 565.416L540 596.5V596.5C824.748 1011.63 -179.106 1359 42.5 1811V1811L97.5 1930.5" stroke="#706FD3" stroke-opacity="0.7" stroke-width="20"/>
    </svg>          
  </div>
</body>
</html>