<% include partials/header %> 
      <div class="np-header__hero">
        <p class="np-header__hero__hi">Bonjour je suis</p>
        <h1 class="np-header__hero__title">Nicolas Pellan</h1>
        <p class="np-header__hero__subtitle">Développeur fullstack Javascript</p>
        <div class="button">
          <a href="/pdf/cv-nicolas-pellan.pdf" class="button-text">Voir mon CV</a>
        </div>
        <div class="button">
          <a href="https://github.com/npellan" class="button-text">Profil Github</a>
        </div>
      </div>
    </header>
    <main class="np-main">
      <section class="np-main__section">
        <h2 class="np-main__section__title">A propos</h2>
        <h3 class="np-main__section__subtitle">Développeur web reconverti par passion, mélomane et grand lecteur</h2>
        <p class="np-main__section__text">Après 5 ans d’expérience en communication et webmarketing, je me suis reconverti dans le développement web par passion. Je développe des applications web fonctionnelles et esthétiques basées sur React et Node.js</p>
        <div class="button">
          <a href="/a-propos" class="button-text">En savoir plus</a>
        </div>      
      </section>
      <section class="np-main__section">
        <h2 class="np-main__section__title">Projets</h2>
        <div class="np-main__projects">
          <div class="np-main__projects__container">
            <a href="/projets/atelier-bleu-piment" class="np-main__projects__link">
              <img class="np-main__projects__image" src="/images/atelier-bleu-piment.jpg">
              <div class="np-main__projects__overlay">
                <p>
                  Atelier Bleu Piment
                </p>
                <p>
                  HTML, CSS, JS
                </p>
              </div>
            </a>
          </div>
          <div class="np-main__projects__container">
            <a href="/projets/chatroom-react" class="np-main__projects__link">
              <img class="np-main__projects__image" src="/images/chatroom.jpg">
              <div class="np-main__projects__overlay">  
                <p>
                  Chatroom
                </p>
                <p>
                  React, Redux, Socket.io
                </p>
              </div>
            </a>
          </div>
          <div class="np-main__projects__container">
            <a href="/projets/todo-list-react" class="np-main__projects__link">
              <img class="np-main__projects__image" src="/images/todo-list.jpg">
              <div class="np-main__projects__overlay">
                <p>
                  Todo list
                </p>
                <p>
                  React, SCSS
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="button">
          <a href="/projets" class="button-text">Plus de projets</a>
        </div>
      </section>
    </main>
<% include partials/footer %> 
    <svg class="np-svg np-svg1" width="659" height="583" viewBox="0 0 659 583" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line1" d="M651.5 -8.5V-8.5C565.715 76.9561 501.34 181.476 463.623 296.538L423.773 418.109C393.482 510.516 307.245 573 210 573V573H0" stroke="#F4F09F" stroke-opacity="0.8" stroke-width="20"/>
      <defs xmlns="http://www.w3.org/2000/svg">
        <filter id="dropshadow" height="130%">
          <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> 
          <feOffset dx="2" dy="2" result="offsetblur"/>
          <feComponentTransfer>
            <feFuncA type="linear" slope="0.2"/>
          </feComponentTransfer>
          <feMerge> 
            <feMergeNode/>
            <feMergeNode in="SourceGraphic"/> 
          </feMerge>
        </filter>
      </defs>
    </svg>
    <svg class="np-svg np-svg2" width="860" height="1970" viewBox="0 0 860 1970" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line2" d="M853 -14L776.362 54.9949C479.163 322.552 371.79 746.887 500.5 1125.5V1125.5L629.609 1464.14C714.848 1687.71 567.105 1931.82 329.5 1960V1960H0" stroke="#B3D4EC" stroke-opacity="0.8" stroke-width="20"/>
      <defs xmlns="http://www.w3.org/2000/svg">
        <filter id="dropshadow" height="130%">
          <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> 
          <feOffset dx="2" dy="2" result="offsetblur"/>
          <feComponentTransfer>
            <feFuncA type="linear" slope="0.2"/>
          </feComponentTransfer>
          <feMerge> 
            <feMergeNode/>
            <feMergeNode in="SourceGraphic"/> 
          </feMerge>
        </filter>
      </defs>
    </svg>
    <svg class="np-svg np-svg3" width="649" height="1099" viewBox="0 0 649 1099" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line3" d="M467 -5.5L464.653 54.9221C458.702 208.076 501.133 359.214 585.925 486.892V486.892C614 529.166 634.514 577.131 637.564 627.786C665.299 1088.5 151.302 1088.5 176 1088.5C184.944 1088.5 116.333 1089.17 1 1088.5" stroke="#D4EFE4" stroke-opacity="0.8" stroke-width="20"/>
      <defs xmlns="http://www.w3.org/2000/svg">
        <filter id="dropshadow" height="130%">
          <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> 
          <feOffset dx="2" dy="2" result="offsetblur"/>
          <feComponentTransfer>
            <feFuncA type="linear" slope="0.2"/>
          </feComponentTransfer>
          <feMerge> 
            <feMergeNode/>
            <feMergeNode in="SourceGraphic"/> 
          </feMerge>
        </filter>
      </defs>
    </svg>      
  </div>
</body>
</html>