<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href='/css/styles.css' />
  
  <title><%= title %></title>
</head>
<body>
  <div class="np-container">
    <svg class="np-svg np-svg1" width="659" height="583" viewBox="0 0 659 583" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line1" d="M651.5 -8.5V-8.5C565.715 76.9561 501.34 181.476 463.623 296.538L423.773 418.109C393.482 510.516 307.245 573 210 573V573H0" stroke="#F4F09F" stroke-opacity="0.8" stroke-width="20"/>
    </svg>
    <svg class="np-svg np-svg2" width="860" height="1970" viewBox="0 0 860 1970" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line2" d="M853 -14L776.362 54.9949C479.163 322.552 371.79 746.887 500.5 1125.5V1125.5L629.609 1464.14C714.848 1687.71 567.105 1931.82 329.5 1960V1960H0" stroke="#B3D4EC" stroke-opacity="0.8" stroke-width="20"/>
    </svg>
    <svg class="np-svg np-svg3" width="649" height="1099" viewBox="0 0 649 1099" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line3" d="M467 -5.5L464.653 54.9221C458.702 208.076 501.133 359.214 585.925 486.892V486.892C614 529.166 634.514 577.131 637.564 627.786C665.299 1088.5 151.302 1088.5 176 1088.5C184.944 1088.5 116.333 1089.17 1 1088.5" stroke="#D4EFE4" stroke-opacity="0.8" stroke-width="20"/>
      </svg>      
    <header class="np-header">
      <div class="np-header__top">
        <p class="np-logo">np</p>
        <nav class="np-nav">
          <ul>
            <li class="np-nav__item"><a href="#">Projets</a></li>
            <li class="np-nav__item"><a href="#">A propos</a></li>
            <li class="np-nav__item"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="np-header__hero">
        <h1 class="np-header__hero__title">Nicolas Pellan</h1>
        <p class="np-header__hero__subtitle">Développeur fullstack Javascript</p>
      </div>
    </header>
    <main class="np-main">
      <section class="np-main__section">
        <h2 class="np-main__section__title">A propos</h2>
        <p class="np-main__section__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, unde veniam perspiciatis harum sunt officia porro fugiat corporis placeat, doloribus quo reprehenderit, eum rerum delectus repudiandae? Illo nostrum consectetur pariatur.</p>
      </section>
      <section class="np-main__section">
        <h2 class="np-main__section__title">Projets</h2>
        <p class="np-main__section__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, unde veniam perspiciatis harum sunt officia porro fugiat corporis placeat, doloribus quo reprehenderit, eum rerum delectus repudiandae? Illo nostrum consectetur pariatur.</p>
      </section>
    </main>
    <footer class="np-footer">
      <section class="np-footer__section">
        <h2 class="np-footer__section__title">Contactez-moi</h2>
      </section>
    </footer>
  </div>
</body>
</html>