<%- include('partials/header'); %>
      <div class="np-hero">
        <p class="np-hero__hi">Bonjour je suis</p>
        <h1 class="np-hero__title">Nicolas Pellan</h1>
        <p class="np-hero__subtitle">Développeur fullstack JavaScript</p>
        <p class="np-hero__subtitle">Vue.js, React, Node.js</p>
        <div class="button">
          <a href="/pdf/cv-nicolas-pellan.pdf" class="button-text">Voir mon CV</a>
        </div>
        <div class="button">
          <a href="https://github.com/npellan" class="button-text">Profil Github</a>
        </div>
      </div>
    </header>
    <main class="np-main">
      <section class="np-section ">
        <h2 class="np-section__title">A propos</h2>
        <h3 class="np-section__subtitle">Je suis développeur web reconverti par passion, mélomane et grand lecteur</h3>
        <p class="np-section__text">Après 5 ans d’expériences en communication et webmarketing, je me suis reconverti dans le développement web par passion. Je développe des applications web fonctionnelles et esthétiques basées sur Vue.js, React et Node.js.</p>
        <div class="button">
          <a href="/a-propos" class="button-text">En savoir plus</a>
        </div>
      </section>
      <section class="np-section ">
        <h2 class="np-section__title">Projets</h2>
        <div class="np-projects">
          <div class="np-projects__container">
            <div class="np-projects__wrapper">
              <a href="/projets/vizcab-dev-front" class="np-projects__link">
                <img class="np-projects__image" src="/images/vizcab-dev-front.jpg" alt="Image du projet Vizcab">
                <div class="np-projects__overlay"></div>
              </a>
            </div>
            <p class="np-projects__title">
              Vizcab
            </p>
            <p class="np-projects__desc">
              Contrat CDI
            </p>
            <p class="np-projects__tags">
              Vue.js, Vuetify, D3.js
            </p>
          </div>
          <div class="np-projects__container">
            <div class="np-projects__wrapper">
              <a href="/projets/oak-projet-fin-etude" class="np-projects__link">
                <img class="np-projects__image" src="/images/oak-projet-fin-etude.jpg" alt="Image du projet Oak">
                <div class="np-projects__overlay"></div>
              </a>
            </div>
            <p class="np-projects__title">
              Oak
            </p>
            <p class="np-projects__desc">
              Projet de fin d'étude en ligne
            </p>
            <p class="np-projects__tags">
              React, Redux, SCSS, Node.js, PostgreSQL, Squitch
            </p>
          </div>
          <div class="np-projects__container">
            <div class="np-projects__wrapper">
              <a href="/projets/atelier-bleu-piment" class="np-projects__link">
                <img class="np-projects__image" src="/images/atelier-bleu-piment.jpg" alt="Image du projet Atelier Bleu Piment">
                <div class="np-projects__overlay"></div>
              </a>
            </div>
            <p class="np-projects__title">
              Atelier Bleu Piment
            </p>
            <p class="np-projects__desc">
              Site web en ligne
            </p>
            <p class="np-projects__tags">
              HTML, CSS, JS
            </p>
          </div>
        </div>
        <div class="button">
          <a href="/projets" class="button-text -4">Plus de projets</a>
        </div>
      </section>
    </main>
<%- include('partials/footer'); %>
    <svg class="np-svg np-svg1" width="994" height="2000" viewBox="0 0 994 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line1" d="M986 0L833.742 151.773C744.325 240.905 691.009 359.942 684.041 486.004V486.004C675.198 646.002 610.331 797.785 500.808 914.756L254.804 1177.49C48.6314 1397.68 -34.4957 1706.01 33.0509 2000V2000" stroke="#9AECDB" stroke-opacity="0.5" stroke-width="20"/>
    </svg>
    <svg class="np-svg np-svg2" width="422" height="2000" viewBox="0 0 422 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line2" d="M413.472 0L243.436 252.886C147.919 394.944 120.866 572.249 169.671 736.329L277.608 1099.21C374.981 1426.57 268.658 1780.5 7 2000V2000" stroke="#218C74" stroke-opacity="0.3" stroke-width="20"/>
    </svg>
    <svg class="np-svg np-svg3" width="602" height="2000" viewBox="0 0 602 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="np-line np-line3" d="M403.5 0V0C364.905 211.25 406.806 429.294 520.951 611.192L540 641.548V641.548C824.733 1064.26 -178.591 1419.09 42.5 1878.31V1878.31L97.5 2000" stroke="#706FD3" stroke-opacity="0.7" stroke-width="20"/>
    </svg>
  </div>
</body>
</html>