<% include partials/header %> 
      <div class="np-header__hero">
        <h1 class="np-header__hero__title">Projets</h1>
        <p class="np-header__hero__subtitle">Découvrez les projets sur lesquels j'ai eu le plaisir de travailler</p>
      </div>
    </header>
    <main class="np-main">
      <section class="np-main__section">
        <div class="np-main__projects">
          <div class="np-main__projects__container">
            <a href="" class="np-main__projects__link">
              <img class="np-main__projects__image" src="/images/atelier-bleu-piment.jpg">
              <div class="np-main__projects__overlay">
                <p>
                  Atelier Bleu Piment
                </p>
              </div>
            </a>
          </div>
          <div class="np-main__projects__container">
            <a href="" class="np-main__projects__link">
              <img class="np-main__projects__image" src="/images/search-github.jpg">
              <div class="np-main__projects__overlay">  
                <p>Search Github</p>
              </div>
            </a>
          </div>
          <div class="np-main__projects__container">
            <a href="" class="np-main__projects__link">
              <img class="np-main__projects__image" src="/images/todo-list.jpg">
              <div class="np-main__projects__overlay">
                <p>
                  Todo list
                </p>
              </div>
            </a>
          </div>
          <div class="np-main__projects__container">
            <a href="" class="np-main__projects__link">
              <img class="np-main__projects__image" src="/images/todo-list.jpg">
              <div class="np-main__projects__overlay">
                <p>
                  Todo list
                </p>
              </div>
            </a>
          </div>
          <div class="np-main__projects__container">
            <a href="" class="np-main__projects__link">
              <img class="np-main__projects__image" src="/images/todo-list.jpg">
              <div class="np-main__projects__overlay">
                <p>
                  Todo list
                </p>
              </div>
            </a>
          </div>
          <div class="np-main__projects__container">
            <a href="" class="np-main__projects__link">
              <img class="np-main__projects__image" src="/images/todo-list.jpg">
              <div class="np-main__projects__overlay">
                <p>
                  Todo list
                </p>
              </div>
            </a>
          </div>
        </div>
      </section>
    </main>
<% include partials/footer %> 
  </div>
</body>
</html>