<% include partials/header %> 
    </header>
    <main class="np-main">
      <img class="np-main__projects__image" src="/images/<%= projet.slug %>.jpg">
      <section class="np-main__section__projet">
        <div>
          <h1><%= projet.name %></h1>
          <p><%= projet.description %></p>
        </div>
        <div>
          <p>Durée du projet</p>
          <p>Equipe</p>
          <p>Rôle</p>
          <p>Technos</p>
        </div>
      </section>
    </main>
<% include partials/footer %> 
  </div>
</body>
</html>