<% include partials/header %> 
      <div class="np-header__hero">
        <h1 class="np-header__hero__title">Projets</h1>
        <p class="np-header__hero__subtitle">Découvrez les projets sur lesquels j'ai eu le plaisir de travailler</p>
      </div>
    </header>
    <main class="np-main">
      <section class="np-main__section">
        <div class="np-main__projects">
          <div class="np-main__projects__container">
            <div class="np-main__projects__wrapper">
              <a href="/projets/atelier-bleu-piment" class="np-main__projects__link">
                <img class="np-main__projects__image" src="/images/atelier-bleu-piment.jpg">
                <div class="np-main__projects__overlay"></div>
              </a>
            </div>
            <p class="np-main__projects__title">
              Atelier Bleu Piment
            </p>
            <p class="np-main__projects__tags">
              HTML, CSS, JS
            </p>
          </div>
          <div class="np-main__projects__container">
            <div class="np-main__projects__wrapper">
              <a href="/projets/chatroom-react" class="np-main__projects__link">
                <img class="np-main__projects__image" src="/images/chatroom-react.jpg">
                <div class="np-main__projects__overlay"></div>
              </a>
            </div>
            <p class="np-main__projects__title">
              Chatroom
            </p>
            <p class="np-main__projects__tags">
              React, Redux, Socket.io
            </p>
          </div>
          <div class="np-main__projects__container">
            <div class="np-main__projects__wrapper">
              <a href="/projets/todo-list-react" class="np-main__projects__link">
                <img class="np-main__projects__image" src="/images/todo-list-react.jpg">
                <div class="np-main__projects__overlay"></div>
              </a>
            </div>
            <p class="np-main__projects__title">
              Todo list
            </p>
            <p class="np-main__projects__tags">
              React, SCSS
            </p>
          </div>
          <div class="np-main__projects__container">
            <div class="np-main__projects__wrapper">
              <a href="/projets/search-github-api-react" class="np-main__projects__link">
                <img class="np-main__projects__image" src="/images/search-github-api-react.jpg">
                <div class="np-main__projects__overlay"></div>
              </a>
            </div>
            <p class="np-main__projects__title">
              Search Github API
            </p>
            <p class="np-main__projects__tags">
              React, API
            </p>
          </div>
          <div class="np-main__projects__container">
            <div class="np-main__projects__wrapper">
              <a href="/projets/euro-converter-react" class="np-main__projects__link">
                <img class="np-main__projects__image" src="/images/euro-converter-react.jpg">
                <div class="np-main__projects__overlay"></div>
              </a>
            </div>
            <p class="np-main__projects__title">
              Euro Converter React
            </p>
            <p class="np-main__projects__tags">
              React, SCSS
            </p>
          </div>
        </div>
      </section>
    </main>
<% include partials/footer %> 
  </div>
</body>
</html>