<% include partials/header %>
      <nav aria-label="Breadcrumb" class="breadcrumb">
        <ul>
          <li class="breadcrumb__li"><a href="/">np</a></li>
          <li class="breadcrumb__li breadcrumb__li--current"><span aria-current="page" >Projets</span></li>
      </ul>
      </nav>
      <div class="np-hero">
        <h1 class="np-hero__title">Projets</h1>
        <p class="np-hero__subtitle">Découvrez les projets sur lesquels j'ai eu le plaisir de travailler</p>
      </div>
    </header>
    <main class="np-main">
      <section class="np-section">
        <div class="np-projects">
          <div class="np-projects__container">
            <div class="np-projects__wrapper">
              <a href="/projets/atelier-bleu-piment" class="np-projects__link">
                <img class="np-projects__image" src="/images/atelier-bleu-piment.jpg">
                <div class="np-projects__overlay"></div>
              </a>
            </div>
            <p class="np-projects__title">
              Atelier Bleu Piment
            </p>
            <p class="np-projects__tags">
              HTML, CSS, JS
            </p>
          </div>
          <div class="np-projects__container">
            <div class="np-projects__wrapper">
              <a href="/projets/chatroom-react" class="np-projects__link">
                <img class="np-projects__image" src="/images/chatroom-react.jpg">
                <div class="np-projects__overlay"></div>
              </a>
            </div>
            <p class="np-projects__title">
              Chatroom
            </p>
            <p class="np-projects__tags">
              React, Redux, Socket.io
            </p>
          </div>
          <div class="np-projects__container">
            <div class="np-projects__wrapper">
              <a href="/projets/todo-list-react" class="np-projects__link">
                <img class="np-projects__image" src="/images/todo-list-react.jpg">
                <div class="np-projects__overlay"></div>
              </a>
            </div>
            <p class="np-projects__title">
              Todo list
            </p>
            <p class="np-projects__tags">
              React, SCSS
            </p>
          </div>
          <div class="np-projects__container">
            <div class="np-projects__wrapper">
              <a href="/projets/search-github-api-react" class="np-projects__link">
                <img class="np-projects__image" src="/images/search-github-api-react.jpg">
                <div class="np-projects__overlay"></div>
              </a>
            </div>
            <p class="np-projects__title">
              Search Github API
            </p>
            <p class="np-projects__tags">
              React, API
            </p>
          </div>
          <div class="np-projects__container">
            <div class="np-projects__wrapper">
              <a href="/projets/euro-converter-react" class="np-projects__link">
                <img class="np-projects__image" src="/images/euro-converter-react.jpg">
                <div class="np-projects__overlay"></div>
              </a>
            </div>
            <p class="np-projects__title">
              Euro Converter React
            </p>
            <p class="np-projects__tags">
              React, SCSS
            </p>
          </div>
        </div>
      </section>
    </main>
<% include partials/footer %> 
  </div>
</body>
</html>