<% include partials/header %> 
      <div class="np-header__hero">
        <h1 class="np-header__hero__title"><%= projet.name %></h1>
      </div>
    </header>
    <main class="np-main">
      <section class="np-main__section">
        
      </section>
    </main>
<% include partials/footer %> 
  </div>
</body>
</html>