@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@300;400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Améliorations */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
del,
ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label,
button {
  cursor: pointer;
}

input,
button {
  outline: 0;
}

.np-svg1 {
  position: absolute;
  top: 0;
  right: 200px;
  z-index: -1;
}

.np-svg2 {
  position: absolute;
  top: 0;
  right: 200px;
  z-index: -1;
}

.np-svg3 {
  position: absolute;
  top: 0;
  right: 200px;
  z-index: -1;
}

.np-line1 {
  fill: none;
  stroke: #CCC5B9;
  stroke-width: 17px;
  stroke-dasharray: 981.6414794922;
  stroke-dashoffset: 981.6414794922;
  animation: move 3s linear forwards;
}

.np-line2 {
  fill: none;
  stroke: #CCC5B9;
  stroke-width: 17px;
  stroke-dasharray: 2633.2145996094;
  stroke-dashoffset: 2633.2145996094;
  animation: move 3s linear forwards;
}

.np-line3 {
  fill: none;
  stroke: #CCC5B9;
  stroke-width: 17px;
  stroke-dasharray: 1583.5125732422;
  stroke-dashoffset: 1583.5125732422;
  animation: move 3s linear forwards;
}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}
.button {
  background-color: #EB5E28;
  width: 175px;
  height: 17px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-top: 3rem;
  transition: width 1s;
}
.button:hover {
  width: 250px;
}

.button-text {
  position: absolute;
  top: -10px;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 5px;
  text-transform: uppercase;
}

/* Container needed to position the overlay. Adjust the width as needed */
.np-main__projects__container {
  position: relative;
  max-width: 350px;
}

/* Make the image to responsive */
.np-main__projects__image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.np-main__projects__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(255, 255, 255, 0.5);
}
.np-main__projects__overlay > p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

/* When you mouse over the container, fade in the overlay title */
.np-main__projects__container:hover .np-main__projects__overlay {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .np-main__projects {
    flex-wrap: wrap;
  }

  .np-main__projects__container {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .np-main__projects {
    flex-wrap: wrap;
  }

  .np-main__projects__container {
    margin-bottom: 1rem;
  }
}
body {
  font-family: "Raleway", sans-serif;
  color: #353531;
}

.np-container {
  max-width: 1200px;
  margin: 5rem auto 1rem;
  width: 80%;
}

.np-header .np-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7rem;
}
.np-header .np-logo {
  font-family: "Cookie", sans-serif;
  font-weight: bold;
  font-size: 4rem;
}
.np-header .np-nav > ul {
  display: flex;
}
.np-header .np-nav__item {
  margin-left: 2rem;
}
.np-header .np-nav__item a:hover {
  border-bottom: 2px solid #353531;
}
.np-header .np-header__hero {
  margin-bottom: 7rem;
}
.np-header .np-header__hero__hi {
  margin-bottom: 1rem;
}
.np-header .np-header__hero__title {
  font-weight: bold;
  font-size: 4rem;
}
.np-header .np-header__hero__subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.np-main__section {
  margin-bottom: 7rem;
}
.np-main__section .np-main__section__title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.np-main__section .np-main__section__subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.np-main__section .np-main__section__text {
  margin-bottom: 1rem;
  line-height: 1.5;
  width: 80%;
}
.np-main__section .np-main__section__button {
  border: 0;
  background-color: red;
  padding: 1rem;
}
.np-main__section .np-main__section__button:hover {
  transform: scale(1.5);
}
.np-main__section .np-main__projects {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.np-footer .np-footer__title {
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}
.np-footer .np-footer__infos {
  font-size: 1.5rem;
}
.np-footer .np-footer__nav > ul {
  display: flex;
}
.np-footer .np-footer__findme {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.np-footer .np-footer__nav__item {
  padding-right: 1rem;
}
.np-footer .np-footer__nav__item a:hover {
  border-bottom: 2px solid #353531;
}

/*# sourceMappingURL=styles.css.map */
