@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Améliorations */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
del,
ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label,
button {
  cursor: pointer;
}

input,
button {
  outline: 0;
}

.np-header .np-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.np-header .np-logo {
  width: 50px;
  height: 50px;
}
.np-header .np-nav > ul {
  display: flex;
}
.np-header .np-nav__item {
  margin-left: 2rem;
  font-size: 1.2rem;
}
.np-header .np-nav__item a:hover {
  border-bottom: 3px solid #2C2C54;
}
.np-header .np-hero {
  margin: 7rem 0;
}
.np-header .np-hero__hi {
  margin-bottom: 1rem;
}
.np-header .np-hero__title {
  font-weight: bold;
  font-size: 4rem;
}
.np-header .np-hero__subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.np-main {
  margin-top: 3rem;
}
.np-main--apropos {
  margin-top: 7rem;
}

.np-section {
  margin-bottom: 7rem;
}
.np-section .np-section__title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.np-section .np-section__subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.np-section .np-section__text {
  margin-bottom: 1rem;
  line-height: 1.5;
  width: 80%;
}
.np-section .np-section__button {
  border: 0;
  background-color: red;
  padding: 1rem;
}
.np-section .np-section__button:hover {
  transform: scale(1.5);
}

.np-footer {
  margin-bottom: 3rem;
}
.np-footer .np-footer__title {
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}
.np-footer .np-footer__infos {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.np-footer .np-footer__nav > ul {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
}
.np-footer .np-footer__findme {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.np-footer .np-footer__nav__item {
  padding-right: 1rem;
  font-weight: bold;
}
.np-footer .np-footer__nav__item--github {
  color: #24292d;
}
.np-footer .np-footer__nav__item--github a:hover {
  border-bottom: 3px solid #24292d;
}
.np-footer .np-footer__nav__item--linkedin {
  color: #0b66c3;
}
.np-footer .np-footer__nav__item--linkedin a:hover {
  border-bottom: 3px solid #0b66c3;
}
.np-footer .np-footer__nav__item--twitter {
  color: #1da1f3;
}
.np-footer .np-footer__nav__item--twitter a:hover {
  border-bottom: 3px solid #1da1f3;
}
.np-footer .np-footer__nav__item--spotify {
  color: #1dcf5d;
}
.np-footer .np-footer__nav__item--spotify a:hover {
  border-bottom: 3px solid #1dcf5d;
}

.np-svg1 {
  position: absolute;
  top: 0;
  right: 160px;
  z-index: -1;
}

.np-svg2 {
  position: absolute;
  top: 0;
  right: 160px;
  z-index: -1;
}

.np-svg3 {
  position: absolute;
  top: 0;
  right: 160px;
  z-index: -1;
}

.np-line {
  fill: none;
  opacity: 0.7;
  stroke-width: 18px;
  animation: move 2.5s linear forwards;
}

.np-line1 {
  stroke: #9AECDB;
  stroke-dasharray: 2235.1242675781;
  stroke-dashoffset: 2235.1242675781;
}

.np-line2 {
  stroke: #218C74;
  stroke-dasharray: 2137.6613769531;
  stroke-dashoffset: 2137.6613769531;
}

.np-line3 {
  stroke: #706FD3;
  stroke-dasharray: 2216.4765625;
  stroke-dashoffset: 2216.4765625;
}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}
.button {
  background-color: #ffedab;
  width: 175px;
  height: 18px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-top: 3rem;
  transition: width 0.2s;
}
.button:hover {
  width: 250px;
}

.button-text {
  position: absolute;
  top: -10px;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 5px;
  text-transform: uppercase;
}

button.button-text {
  -webkit-appearance: none;
  border: 0;
  background-color: unset;
  color: #2C2C54;
}

footer > .material-icons {
  position: fixed;
  /* Fixed/sticky position */
  bottom: 50px;
  /* Place the button at the bottom of the page */
  right: 50px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  font-size: 36px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s ease-in-out;
}

footer > .material-icons.show {
  opacity: 1;
  transform: translateY(0);
}

.np-projects {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}

.np-projects__wrapper {
  position: relative;
}

.np-projects__image {
  display: block;
  width: 100%;
  height: auto;
}

.np-projects__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s ease-in-out;
  background-color: black;
}

.np-projects__wrapper:hover .np-projects__overlay {
  opacity: 0.25;
}

.np-projects__title {
  margin-top: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.5;
}

.np-projects__tags {
  margin-top: 0.5rem;
  font-style: italic;
  line-height: 1.5;
}

.np-main--projet {
  margin-top: 7rem;
}

.np-projet {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 3rem 0 7rem 0;
  grid-gap: 3rem;
}

.np-projet__title {
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.np-projet__desc {
  line-height: 1.5;
}

.np-projet__subtitle {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.np-projet__infos {
  margin-bottom: 1rem;
}

.np-form__input {
  margin-bottom: 1rem;
}
.np-form__input > label {
  display: block;
  margin-bottom: 0.5rem;
}
.np-form__input > input {
  color: #2C2C54;
  border: 1px solid #2C2C54;
  border-radius: 5px;
  padding: 1rem;
  background-color: white;
  -webkit-appearance: none;
  text-rendering: unset;
  width: 30%;
}
.np-form__input > textarea {
  color: #2C2C54;
  border: 1px solid #2C2C54;
  border-radius: 5px;
  padding: 1rem;
  background-color: white;
  -webkit-appearance: none;
  text-rendering: unset;
  width: 50%;
  height: 200px;
  font-family: "Raleway", sans-serif;
}

.np-contact-success {
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 1rem;
  display: inline-block;
  color: white;
  background-color: #2ecc71;
}

.np-contact-error {
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 1rem;
  display: inline-block;
  color: white;
  background-color: #c0392b;
}

.np-apropos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 0 3rem 0;
  grid-gap: 3rem;
}

.np-apropos__title {
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.np-apropos__text {
  line-height: 1.5;
  margin-bottom: 0.7rem;
  text-align: justify;
}

.np-apropos__text--bigger {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.np-apropos__img {
  display: block;
  width: 100%;
  height: auto;
}

.np-cv {
  margin-bottom: 7rem;
}

.np-cv__skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 3rem;
}

.np-cv__subtitle {
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.np-cv__column-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.np-cv__column-skills > div p {
  line-height: 1.5;
}

.np-cv__column-tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.np-cv__column-tools > div p {
  line-height: 1.5;
}

.np-cv__exp {
  margin-bottom: 3rem;
}

.np-cv__exp__one {
  margin-bottom: 2rem;
}

.np-cv__exp__title {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5;
}

.np-cv__exp__subtitle {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}

.np-cv__exp__year {
  line-height: 1.5;
  font-style: italic;
}

.np-cv__exp__desc {
  line-height: 1.5;
}

.np-cv__exp__tasks > li {
  line-height: 1.5;
  list-style: disc inside;
}

.breadcrumb {
  margin-top: 2rem;
}

.breadcrumb > ul {
  display: flex;
}
.breadcrumb > ul > .breadcrumb__li {
  margin-right: 0.5rem;
}
.breadcrumb > ul > .breadcrumb__li::after {
  padding-left: 0.5rem;
  content: ">";
}
.breadcrumb > ul a:hover {
  border-bottom: 3px solid #2C2C54;
}

.breadcrumb > ul > .breadcrumb__li.breadcrumb__li--current::after {
  content: "";
  padding-left: 0;
}

.breadcrumb__li--current {
  border-bottom: 3px solid #2C2C54;
}

@media screen and (max-width: 768px) {
  .np-svg1 {
    position: absolute;
    top: 0;
    right: 70px;
    z-index: -1;
  }

  .np-svg2 {
    position: absolute;
    top: 0;
    right: 25px;
    z-index: -1;
  }

  .np-svg3 {
    position: absolute;
    top: 0;
    right: 89px;
    z-index: -1;
  }

  .np-form__input > input {
    width: 70%;
  }

  .np-form__input > textarea {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .np-svg1 {
    position: absolute;
    top: 0;
    right: -90px;
    z-index: -1;
  }

  .np-svg2 {
    position: absolute;
    top: 0;
    right: -120px;
    z-index: -1;
  }

  .np-svg3 {
    position: absolute;
    top: 0;
    right: -60px;
    z-index: -1;
  }

  .np-header .np-header__top {
    display: block;
    text-align: center;
  }
  .np-header .np-nav {
    justify-content: center;
    display: flex;
    margin-top: 2rem;
  }
  .np-header .np-nav__item {
    margin: 0 0.7rem;
    font-size: 1rem;
  }

  .np-header .np-hero__title {
    font-size: 3rem;
  }

  .np-projet {
    grid-template-columns: repeat(1, 1fr);
    margin: 3rem 0 7rem 0;
  }

  .np-projet--right {
    text-align: left;
  }

  .np-apropos {
    grid-template-columns: repeat(1, 1fr);
  }

  .np-cv__skills {
    grid-template-columns: repeat(1, 1fr);
  }

  .np-cv__column-skills {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0.5rem;
  }

  .np-cv__column-tools {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0.5rem;
  }

  .np-form__input > input {
    width: 100%;
  }

  .np-form__input > textarea {
    width: 100%;
  }

  .breadcrumb {
    display: none;
  }

  footer > .material-icons {
    bottom: 30px;
    right: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .np-projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .np-svg1 {
    position: absolute;
    top: 0;
    right: 110px;
    z-index: -1;
  }

  .np-svg2 {
    position: absolute;
    top: 0;
    right: 70px;
    z-index: -1;
  }

  .np-svg3 {
    position: absolute;
    top: 0;
    right: 120px;
    z-index: -1;
  }
}
@media screen and (min-width: 1440px) {
  .np-projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .np-cv__exp {
    width: 75%;
  }

  .np-svg1 {
    position: absolute;
    top: 0;
    right: 150px;
    z-index: -1;
  }

  .np-svg2 {
    position: absolute;
    top: 0;
    right: 110px;
    z-index: -1;
  }

  .np-svg3 {
    position: absolute;
    top: 0;
    right: 170px;
    z-index: -1;
  }
}
body {
  font-family: "Roboto", sans-serif;
  color: #2C2C54;
  background-color: white;
  font-size: 18px;
  overflow-x: hidden;
}

.np-container {
  max-width: 1200px;
  margin: 5rem auto 1rem;
  width: 80%;
}

/*# sourceMappingURL=styles.css.map */
